.add-item-wrapper {
  text-align: center;
}

.add-item-wrapper h1 {
  font-size: 1.8rem;
  margin: 20px 0;
}

.add-item-wrapper h1, h3 {
  text-align: center;
}

.add-item-wrapper > button {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 1rem;
  text-transform: uppercase;
}

.add-item-wrapper > button:hover {
  transition: .3s;
  background-color: white;
}